

<!--<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Copper Dragon Inn</title>
        
    </head>-->
    <body>
    	<div class="wrapper">
	    	<div class="main">
		         <header class='header'>
		         	<h1>Welcome to the Copper Dragon Inn!</h1>
		         </header>

		         <div class="article darktext">
		         	<p> Welcome friends! Pull up a chair and settle in for some tales.</p>
		         	<p> There is currently one fantasy setting on this website. Check back for more in the future! 

		         		There are also a large number of characters populating the worlds. You can find them by location, as well as by importance!</p>



		         </div>
	         </div>

	         <div class="sidebar">
	         	<aside>
	         		<h2>What is This?</h2>
	         		<p> The Copper Dragon Inn is a place where you can come to see assorted worlds and fanciful characters, mostly of my own creation! I enjoy worldbuilding, cartography, and character creation. I also love role playing games like D&amp;D, so some characters may have a statblock at the end of their description. If that isn't your cup of tea, no worries, there's plenty here besides that!</p>
	         	</aside>
	         	<nav>

	         		<h2>Links</h2>

	         		<ul>
	         			<li>
	         				<div class="dropWorlds">
	         					<span>
	         						<%= link_to "Worlds", worlds_url%>
	         					</span>
		         				<div class="worlds-content">
				         			<ul>
				         				<% @worlds.each do |world| %>
					         				<li> <%= link_to truncate(world.title, length:10), world%></li>
					         			<%end%>
				         			</ul>
				         		</div>
					        </div>
					    </li>
	         			<li>
	         				<div class="dropChars">
	         					<span>
	         						<%= link_to "Characters", character_systems_url%>
	         					</span>
	         					<div class="characters-content"> 
				         			<ul>
				         				<li> <a href="dnd5char.html" target="_blank" > 5e</a>
				         				</li>
				         				<li> <a href="pathfinderchar.html" target="_blank">Pathfinder</a>
				         				</li>
				         			</ul>
				         		</div>
	         				</div>
	         			</li>
	         		</ul>
	       		 </nav>
	       	</div> 
	       	<footer class="darktext">
	       		 
	       	</footer> 
		</div>
    </body>
</html>