
/*find google fonts to use*/
body{
	/*background-image:url("images/Generic_Canvass.png")*/

	background-color:#B87333;
	color:#fff;
	font-family:"spectral", serif;
	margin:0;
	padding:0;
	font-size:18px;
	

}
*{
	box-sizing: border-box;
}

ul{
	list-style-image:url("leaf");
}


h1{
	font-family:"fondamento", Serif;
	font-size:2.2em;
}

h2{
	font-family:"fondamento", Serif;
	font-size:1.8em;
}

p::first-letter{
	font-family:"fondamento";
	font-size:1.7em;
}

.wrapper{
	width:1000px;
	margin: 1% auto;
	background-color:#edcab1;
	padding:1.5% 1.5% 1% 1.5%;
	overflow:visible;
	display:block;
	border-radius: 2%;
		-moz-border-radius:2%;
		-webkit-border-radius:2%;
		-khtml-border-radius:2%;

}


.main{
	float:right;
	width:70%;
	display:block;
	overflow:hidden;
	margin:0;
	padding:0;
}

.header{

	background-color:#6D652F;
	padding:2% .7%;
	margin:0 auto;
	width:100%;
	text-align: center;
}

.article{

	width:100%;
	position:relative;

}
aside p{
	font-size:.8em;
}

.sidebar{ 
	color:#fff;
	background-color: #6D652F;
	padding:1%;
	float:left;
	width:27%;
	overflow:visible;
	display:block;
}

	.sidebar a{
		text-decoration: none;
		color:inherit;

	}

	.sidebar a:hover{
		text-decoration: underline;
		font:italic;
		color:#20303D;
	}

.darktext{
	color:#000;
}

.dropWorlds {
    position: relative;
    display: inline-block;
}

.dropChars {
    position: relative;
    display: inline-block;
}

.worlds-content {
    display: none;
    position: absolute;
    background-color: #6D652F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.characters-content {
    display: none;
    position: absolute;
    text-overflow:ellipsis;
    background-color: #6D652F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropWorlds:hover  .worlds-content {
    display: block;
}

.dropChars:hover .characters-content {
    display: block;
}

footer{
	clear:both;
	text-align:center;
	
}

@media only screen and (max-width:999px){
	.wrapper{
		width:100%;
	}
}
