<!DOCTYPE html>
<html>
  <head>
    <title>Inn</title>

	    <%= stylesheet_link_tag 'home.css', media: 'all', 'data-turbolinks-track' => true %>
	    <link href="https://fonts.googleapis.com/css?family=Fondamento|Spectral" rel="stylesheet"> 
	  	
  </head>

  <body>
    <%= yield %>
  </body>
</html>
